{% extends template %}

{% block title %}{{ page.title }}{% endblock %}
{% block h1 %}{{ page.title }}{% endblock %}

{% block body %}

    <p><a href="{{ path('admin_page_edit', {id: page.id}) }}">Edit</a></p>

    <!-- Media object -->
    <div class="container__media">
        Image
    </div>

    <!-- Main content -->
    <div class="container__content">
        {{ page.body }}
    </div>
{% endblock %}