<div>
    <div for="menu_{{ item.id }}" style="float: left"> {{ item.name }} </div>
    <input type="radio" name="menu" style="float: right" value="{{ item.id }}" id="menu_{{ item.id }}">
    <div style="clear: both"></div>
</div>



